@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color:  rgb(148 163 184);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

body{
    background-color: rgb(15 23 42);
    color: white;
}